fastapi
uvicorn[standard]
python-multipart
pillow
opencv-python-headless
numpy
torch
torchvision
pydantic
pydantic-settings
python-dotenv
pyyaml
addict
future
lmdb
requests
scikit-image
scipy
tqdm
yapf
